* {
  box-sizing: border-box;
}

#root {
  --primary-color: #61dafb;
  --secondary-color: #282c34;
  --thirdly-color: #ffcc00;
  --fourthly-color: #00ccff;
  --fifthly-color: #cc00ff;
}

@font-face {
  font-family: 'Oxygen - Regular';
  src: local('Oxygen - Regular'), 
  url('./utils/global/fonts/OxygenRegular/Oxygen-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Oleo Script';
  src: local('Oleo Script'), 
  url('./utils/global/fonts/OleoScript/OleoScript-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
